/* Drinks.jsx */
.list {
   display: flex;
   gap: 2.5rem;
   margin: 0 calc(-1 * min(5rem, 5%));
   padding: 2rem 5% 1rem;
   overflow-x: auto; 
   scrollbar-width: thin;
   scrollbar-color: var(--dark-background) var(--dark-grey);
}
@media (min-width: 768px) {
   .list {
      margin: 2rem 0 0 0;
      padding: 2rem 1rem;
   }
   .list::-webkit-scrollbar {
      height: 1.5rem;
   }
}
.list::-webkit-scrollbar-track {
   background-color: var(--dark-grey);
}
.list::-webkit-scrollbar-thumb {
   background-color: #808080;
   background-clip: padding-box;
   border-radius: 5px;
}
.list::-webkit-scrollbar-thumb:hover {
   background-color: var(--lightGrey);
}

.list--grid {
   display: grid;
   grid-template-columns: 1fr;
   gap: 2rem;
}
@media (min-width: 480px) {
   .list--grid {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 768px) {
   .list--grid {
      grid-template-columns: repeat(3, 1fr);
   }
}
@media (min-width: 1000px) {
   .list--grid {
      grid-template-columns: repeat(4, 1fr);
   }
}

/* Drink.jsx */
.drink {
   position: relative;
   width: 15rem;
   transition: transform 0.2s cubic-bezier(0.2,0,0.6,1);
}
.drink:hover  {
   cursor: pointer;
}
@media (min-width: 768px) {
   .drink:hover  {
      transform: scale(1.1);
      transition: transform 0.2s cubic-bezier(0.2,0,0.6,1);
   }
   .drink:before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgb(0 0 0 / 68%) 0%, rgb(0 0 0 / 0%) 30%);
      opacity: 0.6;
      transition: opacity 0.2s cubic-bezier(0.2,0,0.6,1);
   }
   .drink:hover:before {
      opacity: 1;
      transition: opacity 0.2s cubic-bezier(0.2,0,0.6,1);
   }
}
.image {
   display: block;
   width: 15rem;
   height: auto;
   border-radius: 0.5rem;
}
.image:hover {
   cursor: pointer;
}
.image--loading {
   background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
   40%, #e5e5e5 48%);
   background-size: 200% 100%;
   background-position: 100% 0;
   animation: load .7s infinite;
}

@keyframes load {
   100% {
      background-position: -100% 0;
   }
}
.name {
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.1;
   margin: 0;
   padding: .9rem 0;
}
@media (min-width: 768px) {
   .name {
      padding: .9rem 1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      filter: brightness(90%);
      transition: all 0.2s cubic-bezier(0.2,0,0.6,1);
   }
   .drink:hover .name {
      font-size: 1.45rem;
      filter: brightness(100%);
      transition: all 0.2s cubic-bezier(0.2,0,0.6,1);
   }
}

.fav-drink {
   display: flex;
   flex-direction: column;
   justify-self: center;
}

.name--fav {
   font-size: 1.4rem;
   font-weight: bold;
   line-height: 1.1;
   margin: 0;
   padding-top: .9rem;
}
.info {
   width: 100%;
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.1;
   margin: 0;
   color: var(--lightGrey);
}
.info:first-of-type {
   align-self: self-start;
   padding-top: .5rem;
}
.name--fav:hover, .image:hover + .name--fav {
   text-decoration: underline;
   cursor: pointer;
}