:root {
	--dark-background: #030303;
  --dark-grey: #2B2B2B;
  --lightGrey: #c5c5c5;


  /* todo: agregar los colores, pero cuando esten todos los elementos  */

  --orange: #FF5714;
  --strawberry: #EA2A4A;
  --lightBlue: #1AE8FF;
  --lemon: #CFBF00;
  --maroon: #45062E;
  --mint: #4AC338;
  --pink: #FF6BB0;
  --blue: #003380;
  --purple: #53259D;
}

html {
	font-size: 62.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
:after,
:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 300;

  margin: 0;
	padding: 0;
  width: 100%;
  min-width: 3.2rem;
  min-height: 100vh;

  color-scheme: light dark;
  color: #ffffff;
  
  background-image: 
    radial-gradient(var(--lightBlue) 1.5px, transparent 1px),
    radial-gradient(var(--lightBlue) 1.5px, black 1px);
  background-size: calc(80 * 1.5px) calc(80 * 1.5px);
  background-position: 0 0,calc(40 * 1.5px) calc(40 * 1.5px);

  overflow: hidden; 
}

h1 {
  font-size: 3.2em;
}

p {
  color: #ffffff;
  line-height: 24px;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  font-size: 1em;
  font-weight: 300;
  font-family: inherit;
  letter-spacing: 0.2px;
  background-color: var(--dark-grey);
  backdrop-filter: contrast(100%);
  cursor: pointer;
}
button:hover {
  background: rgb(74 74 74);
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-background);
    background-color: #ffffff;
  }
  body {
    border-color: var(--lightGrey);
  }
  button {
    background-color: #f9f9f9;
  }
}

input {
  height: min-content;
  background-color: #2b2b2b;
  border-radius: .5rem;
  border: none;
  padding: 10px;
  border: 1px solid var(--lightGrey);
}
input::placeholder {
  color: var(--lightGrey);
}
input:focus {
  outline: -webkit-focus-ring-color auto 1px;
  border: 1px solid white;
}
input:hover {
  border: 1px solid white;
}
label:hover + input {
  border: 1px solid white;
}