.ingredient {
   margin: 0 1rem 0 1rem;
   align-items: center;
   display: flex;
   flex-direction: column;
}

.image {
   height: 18rem;
   width: 18rem;
   background: white;
   border: 1px solid transparent;
   border-radius: 9rem;
   margin-bottom: 1rem;
}
.image--loading {
   background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
   40%, #e5e5e5 48%);
   background-size: 200% 100%;
   background-position: 100% 0;
   animation: load .7s infinite;
}
.image:hover {
   cursor: pointer;
}
.text {
   font-weight: bold;
   width: max-content;
   margin: 0 auto;
}
.text:hover, .image:hover + .text {
   text-decoration: underline;
   cursor: pointer;
}